{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "jsdoc"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:jsdoc/recommended"
  ],
  "rules": {
    "comma-dangle": ["warn", "always-multiline"],
    "indent": ["warn", 2],
    "no-unneeded-ternary": ["warn"],
    "semi": ["warn", "never"]
  }
}
