{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "jsdoc"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:jsdoc/recommended"
  ],
  "rules": {
    "comma-dangle": ["warn", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "never"
    }],
    "indent": ["warn", 2],
    "no-unneeded-ternary": ["warn"],
    "semi": ["warn", "never"],
    "jsdoc/require-returns-description": 0
  }
}
